.git
.github
.vscode
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.a
*.o
*.whl
.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
dist/
.venv/
venv/
node_modules/
notebook/*.ipynb
notebook/*.png
notebook/*.jpg
notebook/*.jpeg
notebook/*.gif
doc/
checkpoints/*
checkpoints/**/*.pth
checkpoints/**/*.pt
checkpoints/**/*.ckpt
checkpoints/**/*.safetensors
